article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Border boxing
*/
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px solid red;
}

.container div {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 10px;
  margin: 20px;
  border: 1px solid red;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ready {
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
