<!DOCTYPE html>
<html>
  <head>
    <title>Flexbox</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/style_main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,900"
      rel="stylesheet"
    />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>
    <div class="first"><p class="title">Welcome to our giveaway</p></div>
    <div class="options">
      <div class="button">
        <div><p>Try it!</p></div>
        <div id="circulo_red">
          <div class="agujero1"></div>
          <div class="agujero2"></div>
        </div>
      </div>

      <div class="button">
          <div><p>Push the red button</p></div>
          <a href="http://localhost:5000/followers">
          <!-- <a href="http://localhost:5000/num_followers"> -->
            <div id="circulo_green">
              <div class="agujero1"></div>
              <div class="agujero2"></div></div></a>
        </div>
      </div>
    </div>
  </body>
</html>
