<!DOCTYPE html>
<html>
  <head>
    <title>Giveaway</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/style_main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,900"
      rel="stylesheet"
    />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>
    <div class="first"><p class="title">Welcome to our giveaway</p></div>
    <div class="options">
      <div class="button_container">
          <a href="http://localhost:5000/submit">
        <div class="button">Try it!</div>
      </div></a>

      <div class="button_container">
          <a href="http://localhost:5000/followers">
        <div class="button">Number of participants</div>
      </div></a>
    </div>
  </body>
</html>
