<!DOCTYPE html>
<html>
  <head>
    <title>Submit</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/style_submit.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,900"
      rel="stylesheet"
    />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>
    <form
      enctype="application/json"
      action="http://localhost:5000/try_number"
      method="post"
    >
      <div class="container">
        <div>
          <label for="password">Password</label>
          <input type="text" name="code" value="hola120" required />
        </div>
        <!-- <div>
          <label for="number_give">Number (from 100 to 999)</label>
           <input type="text" name="number_give" required /></div>  -->
      </div>
      <div class="ready">
        <div><input type="submit" value="Ready!" /></div>
      </div>
    </form>
  </body>
</html>
