<!DOCTYPE html>
<html>
  <head>
    <title>Submit</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/style_submit.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,900"
      rel="stylesheet"
    />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>
    <form id="participacion" method="post">
      <div class="container">
        <div>
          <label for="password">Password</label>
          <input
            id="password"
            type="text"
            name="password_given"
            value="hola"
            required
          />
        </div>
        <div>
          <label for="number_give">Number (from 100 to 999)</label>
          <input
            id="number_give"
            type="text"
            name="number_given"
            value="123"
            required
          />
        </div>
      </div>
      <div class="ready">
        <div><button type="button" onclick="sendData()">Click Me!</button>
      </div>
    </form>
    <script src="static/css/script_submit.js"></script>
  </body>
</html>
